body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4a54da, #6f81d1, #8fa1e0);
    margin: 0;
    padding: 0;
}

.login-container {
    background-color: #7b99c5;
    padding: 20px;
    border-radius: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 200px; 
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #fff;
}